:root {
    --black: #000;
    --white: #fff;
    --grey31: rgba(31, 31, 31, 1);
    --grey49: rgba(49, 49, 49, 1);
    --grey208: rgba(208, 208, 208, 1);
    --grey217: rgba(217, 217, 217, 1);
    --grey214: rgba(214, 214, 214, 1);
    --red: rgba(245, 73, 50, 1);
    --blue: rgba(48, 87, 162, 1);
    --beige: rgba(233, 222, 212, 1);
    --yellow: rgba(251, 206, 81, 1);
}