@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/Merriweather/Merriweather-Black.eot');
    src: url('../fonts/Merriweather/Merriweather-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Merriweather/Merriweather-Black.woff2') format('woff2'),
        url('../fonts/Merriweather/Merriweather-Black.woff') format('woff'),
        url('../fonts/Merriweather/Merriweather-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/Merriweather/Merriweather-Bold.eot');
    src: url('../fonts/Merriweather/Merriweather-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Merriweather/Merriweather-Bold.woff2') format('woff2'),
        url('../fonts/Merriweather/Merriweather-Bold.woff') format('woff'),
        url('../fonts/Merriweather/Merriweather-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/Merriweather/Merriweather-Regular.eot');
    src: url('../fonts/Merriweather/Merriweather-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Merriweather/Merriweather-Regular.woff2') format('woff2'),
        url('../fonts/Merriweather/Merriweather-Regular.woff') format('woff'),
        url('../fonts/Merriweather/Merriweather-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/Merriweather/Merriweather-Light.eot');
    src: url('../fonts/Merriweather/Merriweather-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Merriweather/Merriweather-Light.woff2') format('woff2'),
        url('../fonts/Merriweather/Merriweather-Light.woff') format('woff'),
        url('../fonts/Merriweather/Merriweather-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}









@font-face {
    font-family: 'Golos Text';
    src: url('../fonts/Golos_Text/GolosText-Black.eot');
    src: url('../fonts/Golos_Text/GolosText-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Golos_Text/GolosText-Black.woff2') format('woff2'),
        url('../fonts/Golos_Text/GolosText-Black.woff') format('woff'),
        url('../fonts/Golos_Text/GolosText-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Golos Text';
    src: url('../fonts/Golos_Text/GolosText-ExtraBold.eot');
    src: url('../fonts/Golos_Text/GolosText-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Golos_Text/GolosText-ExtraBold.woff2') format('woff2'),
        url('../fonts/Golos_Text/GolosText-ExtraBold.woff') format('woff'),
        url('../fonts/Golos_Text/GolosText-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Golos Text';
    src: url('../fonts/Golos_Text/GolosText-Bold.eot');
    src: url('../fonts/Golos_Text/GolosText-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Golos_Text/GolosText-Bold.woff2') format('woff2'),
        url('../fonts/Golos_Text/GolosText-Bold.woff') format('woff'),
        url('../fonts/Golos_Text/GolosText-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Golos Text';
    src: url('../fonts/Golos_Text/GolosText-SemiBold.eot');
    src: url('../fonts/Golos_Text/GolosText-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Golos_Text/GolosText-SemiBold.woff2') format('woff2'),
        url('../fonts/Golos_Text/GolosText-SemiBold.woff') format('woff'),
        url('../fonts/Golos_Text/GolosText-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Golos Text';
    src: url('../fonts/Golos_Text/GolosText-Medium.eot');
    src: url('../fonts/Golos_Text/GolosText-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Golos_Text/GolosText-Medium.woff2') format('woff2'),
        url('../fonts/Golos_Text/GolosText-Medium.woff') format('woff'),
        url('../fonts/Golos_Text/GolosText-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Golos Text';
    src: url('../fonts/Golos_Text/GolosText-Regular.eot');
    src: url('../fonts/Golos_Text/GolosText-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Golos_Text/GolosText-Regular.woff2') format('woff2'),
        url('../fonts/Golos_Text/GolosText-Regular.woff') format('woff'),
        url('../fonts/Golos_Text/GolosText-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

$base-font-size: 16px; // базовый размер шрифта в пикселях

@function px-to-rem($px) {
  @return calc($px / $base-font-size) + rem;
}
