.title  {
    font-family: 'Merriweather';
    font-weight: 400;
    font-size: px-to-rem(16px);
    text-transform: uppercase;
    margin: 0;
    color: var(--grey49, rgba(49, 49, 49, 1));
    &_fz60 {
        font-size: px-to-rem(60px);
        line-height: px-to-rem(66px);
    }
    &_fz54 {
        font-size: px-to-rem(54px);
        line-height: px-to-rem(64.8px);
    }
    &_fz36 {
        font-size: px-to-rem(36px);
        line-height: px-to-rem(48.6px);
    }
    &_fw700 {
        font-weight: 700;
    }
    &_center {
        display: block;
        text-align: center;
    }
    &_right {
        display: block;
        text-align: right;
    }
    &_red {
        color: var(--red, rgba(245, 73, 50, 1));
    }
}